.info-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.info-table td, .info-table th {
    border: 1px solid #0000ff;
    padding: 8px;
}

.info-table caption {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 1px solid #0000ff;
    padding: 20px;
    font-weight: bold;
    font-size: 150%;
}

.info-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.info-table tr:hover {
    background-color: #0000fe;
}

.info-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0000fc;
    color: white;
}

.field-name {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;
}